<% include templates/header %>
    Contact us
    <div>
        <form method="POST" action="/users/add">
            <label for="name">First name</label>
            <input type="text" name="name" id="name"/>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </div>
<% include templates/footer %>
