<% include templates/header %>
    NodeJs with EJS
    <br/>
    <div style="1px solid green">
        <ul>
        <% people.forEach((people)=>{ %>
            <li><%=people.Id %> | <%=people.name %></li>
        <% }) %>
    </ul>
    </div>
<% include templates/footer %>
