<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--DEFAULT PARAMETERS SPECIFIED HERE-->
    <script>
       
    </script>
    <%titleMain = 'MerryThrills'; %>
    <!--END OF DEFAULT PARAMETERS SPECIFIED-->
    <title> <%=titleMain%> | <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="scripts/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="scripts/dist/jquery.min.js"></script>
    <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
    <style>
        html, body{
            height:100%;
            margin:0px;
            padding:0px;
        }
        ul .ulHorizontal {list-style-type: none;}
        .ulHorizontal li{display:inline; margin:0px 8px; text-transform: uppercase; text-decoration: none;}
        .ulHorizontal li a{ text-decoration: none;}
    </style>
</head>
<body>
    <nav style="text-align: center; background-color: #ececec; padding:1px;">
        <ul class="ulHorizontal" style="">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>