<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--DEFAULT PARAMETERS SPECIFIED HERE-->
    <script>
       
    </script>
    <%titleMain = 'MerryThrills'; %>
    <!--END OF DEFAULT PARAMETERS SPECIFIED-->
    <title> <%=titleMain%> | <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="scripts/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="scripts/dist/jquery.min.js"></script>
    <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
    <style>

    </style>
</head>
<body>
    <div style="" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                MerryThrills
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">